li {
  color: red;
}

.myClass {
  background-color: yellow;
}

#impParagraph {
  color: green;
  font-weight: bold;
}

p {
  padding: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: brown;
  margin: 20px;
}
